html,
body,
.game {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: top;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 255, 22);
    padding: 13px;
    box-shadow: -5px -4px 121px -28px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    max-width: 1000px; 
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 3rem;

    text-align: center;
    margin-top: 0;
}
.face {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}
.face img{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.hearts{
    flex:1;
    display: inline-block;
    margin-left: auto;
    align-self: flex-end;
    font-size: 1.2rem;
}

.timer{   
    flex:1;
    display: flex;
    justify-content: right;
    align-self: flex-end;
    font-size: 1.2rem;
}
table {
    background-color: rgb(184, 184, 184);
    border: 10px solid rgb(0, 0, 0);
    border-collapse: 10%;
    max-width: 600px;
    margin: 1px 0;
    border-radius: 3%;
    
}
.board td {
    border-radius: 10%;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
}
.board td:hover {
    background-color:   rgb(249, 249, 249);
}


